In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.getOrCreate()

In [6]:
#data_path = '/Users/danielsullivan/LinkedIn Learning/Spark SQL/data'

data_path='C:/Users/Ali/lynda'

In [7]:
file_path = data_path + "/location_temp.csv"
df1 = spark.read.format("csv").option("header", "true").load(file_path)

In [10]:
df1.head(5)

[Row(event_date='03/04/2019 19:48:06', location_id='loc0', temp_celcius='29'),
 Row(event_date='03/04/2019 19:53:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 19:58:06', location_id='loc0', temp_celcius='28'),
 Row(event_date='03/04/2019 20:03:06', location_id='loc0', temp_celcius='30'),
 Row(event_date='03/04/2019 20:08:06', location_id='loc0', temp_celcius='27')]

In [11]:
df1.show(5)

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
+-------------------+-----------+------------+
only showing top 5 rows

In [12]:
df1.count()

500000

In [13]:
file_path_no_header = data_path + "/utilization.csv"
df2 = spark.read.format("csv").option("header", "false").option("inferSchema","true").load(file_path_no_header)

In [14]:
df2.count()

500000

In [17]:
df2.head(5)

[Row(_c0='03/05/2019 08:06:14', _c1=100, _c2=0.57, _c3=0.51, _c4=47),
 Row(_c0='03/05/2019 08:11:14', _c1=100, _c2=0.47, _c3=0.62, _c4=43),
 Row(_c0='03/05/2019 08:16:14', _c1=100, _c2=0.56, _c3=0.57, _c4=62),
 Row(_c0='03/05/2019 08:21:14', _c1=100, _c2=0.57, _c3=0.56, _c4=50),
 Row(_c0='03/05/2019 08:26:14', _c1=100, _c2=0.35, _c3=0.46, _c4=43)]

In [18]:
df2.show(5)

+-------------------+---+----+----+---+
|                _c0|_c1| _c2| _c3|_c4|
+-------------------+---+----+----+---+
|03/05/2019 08:06:14|100|0.57|0.51| 47|
|03/05/2019 08:11:14|100|0.47|0.62| 43|
|03/05/2019 08:16:14|100|0.56|0.57| 62|
|03/05/2019 08:21:14|100|0.57|0.56| 50|
|03/05/2019 08:26:14|100|0.35|0.46| 43|
+-------------------+---+----+----+---+
only showing top 5 rows

In [19]:
df2 = df2.withColumnRenamed("_c0", "event_datetime") \
        .withColumnRenamed ("_c1", "server_id")       \
        .withColumnRenamed("_c2", "cpu_utilization")  \
        .withColumnRenamed("_c3", "free_memory")      \
        .withColumnRenamed("_c4", "session_count")

In [20]:
df2.show(5)

+-------------------+---------+---------------+-----------+-------------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_count|
+-------------------+---------+---------------+-----------+-------------+
|03/05/2019 08:06:14|      100|           0.57|       0.51|           47|
|03/05/2019 08:11:14|      100|           0.47|       0.62|           43|
|03/05/2019 08:16:14|      100|           0.56|       0.57|           62|
|03/05/2019 08:21:14|      100|           0.57|       0.56|           50|
|03/05/2019 08:26:14|      100|           0.35|       0.46|           43|
+-------------------+---------+---------------+-----------+-------------+
only showing top 5 rows

In [21]:
json_df1_path = data_path + "/location_temp.json"
df1.write.json(json_df1_path)

In [22]:
json_df2_path = data_path + "/utilization.json"
df2.write.json(json_df2_path)

**Load data into DataFrames JSON Files**

In [23]:
json_df2_path = data_path + "/utilization.json"
df2 = spark.read.format("json").load(json_df2_path)

In [26]:
print(df2.columns),print(df2.count())
df2.show(5)

['cpu_utilization', 'event_datetime', 'free_memory', 'server_id', 'session_count']
500000
+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
+---------------+-------------------+-----------+---------+-------------+
only showing top 5 rows

**Basic DataFrame operations**

In [27]:
df2.describe()

DataFrame[summary: string, cpu_utilization: string, event_datetime: string, free_memory: string, server_id: string, session_count: string]

In [28]:
df2_sample=df2.sample(False, fraction=0.1)
df2_sample.show(5)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.62|03/05/2019 10:16:14|       0.69|      100|           56|
|           0.48|03/05/2019 12:56:14|       0.38|      100|           44|
|           0.55|03/05/2019 13:16:14|       0.69|      100|           66|
|           0.47|03/05/2019 13:56:14|       0.67|      100|           66|
|           0.39|03/05/2019 14:46:14|       0.43|      100|           39|
+---------------+-------------------+-----------+---------+-------------+
only showing top 5 rows

In [30]:
df2_sort = df2_sample.sort('event_datetime')
df2_sort.show(5)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.78|03/05/2019 08:06:40|       0.22|      115|           62|
|           0.52|03/05/2019 08:07:06|       0.49|      130|           77|
|           0.81|03/05/2019 08:07:12|       0.15|      133|           78|
|            0.8|03/05/2019 08:07:35|       0.21|      145|           94|
|           0.75|03/05/2019 08:11:33|       0.28|      111|           48|
+---------------+-------------------+-----------+---------+-------------+
only showing top 5 rows

**Filter data with DataFrame API**

In [31]:
file_path = data_path + "/location_temp.csv"
df1 = spark.read.format("csv").option("header", "true").load(file_path)
df1.show(5)

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
+-------------------+-----------+------------+
only showing top 5 rows

In [33]:
df1.filter(df1["location_id"]=="loc0").show(5)

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
+-------------------+-----------+------------+
only showing top 5 rows

In [35]:
df1.filter(df1["location_id"]=="loc0").count(),df1.filter(df1["location_id"]=="loc1").count()

(1000, 1000)

**Aggregate data with DataFrame API**

In [37]:
df1.groupBy("location_id").count().show(5)

+-----------+-----+
|location_id|count|
+-----------+-----+
|     loc196| 1000|
|     loc226| 1000|
|     loc463| 1000|
|     loc150| 1000|
|     loc292| 1000|
+-----------+-----+
only showing top 5 rows

In [38]:
df1.orderBy("location_id").show(10)

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 20:03:06|       loc0|          30|
+-------------------+-----------+------------+
only showing top 10 rows

In [40]:
df1.groupby('location_id').agg({'temp_celcius':'mean'}).show(5)

+-----------+-----------------+
|location_id|avg(temp_celcius)|
+-----------+-----------------+
|     loc196|           29.225|
|     loc226|           25.306|
|     loc463|           23.317|
|     loc150|           32.188|
|     loc292|           29.159|
+-----------+-----------------+
only showing top 5 rows

In [41]:
df1.groupby('location_id').agg({'temp_celcius': 'max'}).show(5)

+-----------+-----------------+
|location_id|max(temp_celcius)|
+-----------+-----------------+
|     loc196|               36|
|     loc226|               32|
|     loc463|               30|
|     loc150|               39|
|     loc292|               36|
+-----------+-----------------+
only showing top 5 rows

**Sample data from DataFrames**

In [42]:
df_s1 = df1.sample(fraction=0.1,withReplacement=False)
df_s1.count()

50236

In [44]:
df_s1.groupBy("location_id").agg({'temp_celcius': 'mean'}).show(5)

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|     loc196| 29.23469387755102|
|     loc226|24.822916666666668|
|     loc463|23.137614678899084|
|     loc150| 32.24074074074074|
|     loc292|28.926605504587155|
+-----------+------------------+
only showing top 5 rows

In [46]:
df_s1.groupby('location_id').agg({'temp_celcius':'mean'}).orderBy('location_id').show(6)

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|       loc0|28.900990099009903|
|       loc1|28.137254901960784|
|      loc10|25.153153153153152|
|     loc100|27.178571428571427|
|     loc101|              25.0|
|     loc102|30.479338842975206|
+-----------+------------------+
only showing top 6 rows

In [47]:
df1.groupBy("location_id").agg({'temp_celcius': 'mean'}).orderBy("location_id").show(6)

+-----------+-----------------+
|location_id|avg(temp_celcius)|
+-----------+-----------------+
|       loc0|           29.176|
|       loc1|           28.246|
|      loc10|           25.337|
|     loc100|           27.297|
|     loc101|           25.317|
|     loc102|           30.327|
+-----------+-----------------+
only showing top 6 rows

**Save data from DataFrames**

In [48]:
df1.write.csv('df1.csv')

In [55]:
! ls df1.csv

'ls' is not recognized as an internal or external command,
operable program or batch file.

In [58]:
import os
os.listdir('df1.csv')

['.part-00000-5e239386-0003-4bd8-98b6-668e73dffa1c-c000.csv.crc',
 '.part-00001-5e239386-0003-4bd8-98b6-668e73dffa1c-c000.csv.crc',
 '.part-00002-5e239386-0003-4bd8-98b6-668e73dffa1c-c000.csv.crc',
 '.part-00003-5e239386-0003-4bd8-98b6-668e73dffa1c-c000.csv.crc',
 '._SUCCESS.crc',
 'part-00000-5e239386-0003-4bd8-98b6-668e73dffa1c-c000.csv',
 'part-00001-5e239386-0003-4bd8-98b6-668e73dffa1c-c000.csv',
 'part-00002-5e239386-0003-4bd8-98b6-668e73dffa1c-c000.csv',
 'part-00003-5e239386-0003-4bd8-98b6-668e73dffa1c-c000.csv',
 '_SUCCESS']

In [60]:
df1.write.json('df1.json')
os.listdir('df1.json')

['.part-00000-943a1099-30ed-4a84-ac71-21a080bc25b9-c000.json.crc',
 '.part-00001-943a1099-30ed-4a84-ac71-21a080bc25b9-c000.json.crc',
 '.part-00002-943a1099-30ed-4a84-ac71-21a080bc25b9-c000.json.crc',
 '.part-00003-943a1099-30ed-4a84-ac71-21a080bc25b9-c000.json.crc',
 '._SUCCESS.crc',
 'part-00000-943a1099-30ed-4a84-ac71-21a080bc25b9-c000.json',
 'part-00001-943a1099-30ed-4a84-ac71-21a080bc25b9-c000.json',
 'part-00002-943a1099-30ed-4a84-ac71-21a080bc25b9-c000.json',
 'part-00003-943a1099-30ed-4a84-ac71-21a080bc25b9-c000.json',
 '_SUCCESS']

**Querying DataFrames with SQL**

In [79]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Spark SQL Query Dataframes") \
    .getOrCreate()

data_path='C:/Users/Ali/lynda'

In [80]:
json_df2_path = data_path + "/utilization.json"
df = spark.read.format("json").load(json_df2_path)
print(type(df))
df.show(5)

<class 'pyspark.sql.dataframe.DataFrame'>
+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
+---------------+-------------------+-----------+---------+-------------+
only showing top 5 rows

In [82]:
print(df.count())
df.printSchema()

500000
root
 |-- cpu_utilization: double (nullable = true)
 |-- event_datetime: string (nullable = true)
 |-- free_memory: double (nullable = true)
 |-- server_id: long (nullable = true)
 |-- session_count: long (nullable = true)

In [83]:
df.createOrReplaceTempView("utilization")
'''Creates or replaces a local temporary view with this :class:DataFrame

The lifetime of this temporary table is tied to the :class:`SparkSession`
that was used to create this :class:DataFrame'''

'Creates or replaces a local temporary view with this :class:DataFrame\n\nThe lifetime of this temporary table is tied to the :class:`SparkSession`\nthat was used to create this :class:DataFrame'

In [84]:
df_sql = spark.sql("SELECT * FROM utilization LIMIT 10")
print(type(df_sql))
df_sql.show()

<class 'pyspark.sql.dataframe.DataFrame'>
+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
+---------------+-------------------+-----------+---------+-------------+

In [70]:
df_sql.count()

10

In [77]:
df_sql = spark.sql("SELECT server_id, session_count FROM utilization LIMIT 10")
df_sql.show()

+---------+-------------+
|server_id|session_count|
+---------+-------------+
|      100|           47|
|      100|           43|
|      100|           62|
|      100|           50|
|      100|           43|
|      100|           48|
|      100|           58|
|      100|           58|
|      100|           62|
|      100|           45|
+---------+-------------+

In [78]:
df_sql = spark.sql("SELECT server_id as sid, session_count as sc FROM utilization")
df_sql.show()

+---+---+
|sid| sc|
+---+---+
|100| 47|
|100| 43|
|100| 62|
|100| 50|
|100| 43|
|100| 48|
|100| 58|
|100| 58|
|100| 62|
|100| 45|
|100| 47|
|100| 60|
|100| 57|
|100| 44|
|100| 47|
|100| 66|
|100| 65|
|100| 66|
|100| 42|
|100| 63|
+---+---+
only showing top 20 rows

**Filtering DataFrames with SQL**

In [85]:
json_df2_path = data_path + "/utilization.json"
df = spark.read.format("json").load(json_df2_path)
type(df2)

pyspark.sql.dataframe.DataFrame

In [88]:
df2.show(5)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
+---------------+-------------------+-----------+---------+-------------+
only showing top 5 rows

In [92]:
df.createOrReplaceTempView("utilization")
df_sql = spark.sql("SELECT * FROM utilization WHERE server_id = 120")
print(type(df_sql))
df_sql.show(5)

<class 'pyspark.sql.dataframe.DataFrame'>
+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.66|03/05/2019 08:06:48|       0.31|      120|           54|
|           0.58|03/05/2019 08:11:48|       0.38|      120|           64|
|           0.55|03/05/2019 08:16:48|       0.61|      120|           54|
|            0.7|03/05/2019 08:21:48|       0.35|      120|           80|
|            0.6|03/05/2019 08:26:48|       0.39|      120|           71|
+---------------+-------------------+-----------+---------+-------------+
only showing top 5 rows

In [91]:
df_sql.count()

10000

In [94]:
df_sql = spark.sql("SELECT server_id, session_count FROM utilization WHERE session_count > 70")
df_sql.show(5)

+---------+-------------+
|server_id|session_count|
+---------+-------------+
|      100|           71|
|      100|           71|
|      100|           71|
|      100|           71|
|      100|           72|
+---------+-------------+
only showing top 5 rows

In [95]:
df_sql.count()

239659

In [97]:
df_sql = spark.sql("SELECT server_id, session_count FROM utilization WHERE session_count > 70 AND server_id = 120")
df_sql.show(5)

+---------+-------------+
|server_id|session_count|
+---------+-------------+
|      120|           80|
|      120|           71|
|      120|           73|
|      120|           72|
|      120|           78|
+---------+-------------+
only showing top 5 rows

In [98]:
df_sql.count()

2733

In [102]:
df_sql = spark.sql("SELECT server_id, session_count \
                   FROM utilization \
                   WHERE session_count > 70 AND server_id = 120 \
                   ORDER BY session_count DESC")
df_sql.show(5)

+---------+-------------+
|server_id|session_count|
+---------+-------------+
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
+---------+-------------+
only showing top 5 rows

**Aggregating Data with SQL**

In [103]:
df.show(5)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
+---------------+-------------------+-----------+---------+-------------+
only showing top 5 rows

In [104]:
df.createOrReplaceTempView("utilization")
df_count = spark.sql("SELECT count(*) FROM utilization")
df_count.show()

+--------+
|count(1)|
+--------+
|  500000|
+--------+

In [105]:
df_sql = spark.sql("SELECT count(*) \
                    FROM utilization \
                    WHERE session_count > 70")
df_sql.show()

+--------+
|count(1)|
+--------+
|  239659|
+--------+

In [106]:
df_sql = spark.sql("SELECT server_id, count(*) \
                    FROM utilization \
                    WHERE session_count > 70 \
                    GROUP BY server_id")
df_sql.show()

+---------+--------+
|server_id|count(1)|
+---------+--------+
|      112|    7425|
|      113|    9418|
|      130|    2891|
|      126|    6365|
|      149|    8288|
|      110|    2826|
|      136|    4316|
|      144|    6220|
|      116|    1167|
|      145|    9304|
|      143|     144|
|      107|    5646|
|      146|    7072|
|      103|    8744|
|      139|    7383|
|      114|    2128|
|      115|    5284|
|      104|    7366|
|      120|    2733|
|      128|    3719|
+---------+--------+
only showing top 20 rows

In [107]:
df_sql = spark.sql("SELECT server_id, count(*) \
                    FROM utilization \
                    WHERE session_count > 70 \
                    GROUP BY server_id \
                    ORDER BY count(*) DESC")
df_sql.show()

+---------+--------+
|server_id|count(1)|
+---------+--------+
|      101|    9808|
|      113|    9418|
|      145|    9304|
|      103|    8744|
|      102|    8586|
|      133|    8583|
|      108|    8375|
|      149|    8288|
|      137|    8248|
|      148|    8027|
|      123|    7918|
|      118|    7913|
|      112|    7425|
|      139|    7383|
|      104|    7366|
|      142|    7084|
|      121|    7084|
|      146|    7072|
|      126|    6365|
|      144|    6220|
+---------+--------+
only showing top 20 rows

**Joining Dataframes with SQL**

In [108]:
from pyspark.sql.types import IntegerType
json_df_path = data_path + "/utilization.json"
df_util = spark.read.format("json").load(json_df_path)
df_util.show(10)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
+---------------+-------------------+-----------+---------+-------------+
only showing top 10 rows

In [109]:
df_util.createOrReplaceTempView("utilization")

In [114]:
csv_df_path = data_path + "/server_name.csv"
df_server = spark.read.csv(csv_df_path,header=True)
df_server.show(5)

+---------+-----------+
|server_id|server_name|
+---------+-----------+
|      100| 100 Server|
|      101| 101 Server|
|      102| 102 Server|
|      103| 103 Server|
|      104| 104 Server|
+---------+-----------+
only showing top 5 rows

In [115]:
df_server.createOrReplaceTempView("server_name")

In [117]:
df_count = spark.sql("SELECT DISTINCT server_id FROM utilization ORDER BY server_id")
df_count.show(10)

+---------+
|server_id|
+---------+
|      100|
|      101|
|      102|
|      103|
|      104|
|      105|
|      106|
|      107|
|      108|
|      109|
+---------+
only showing top 10 rows

In [118]:
spark.sql("SELECT min(server_id), max(server_id) FROM utilization").show()

+--------------+--------------+
|min(server_id)|max(server_id)|
+--------------+--------------+
|           100|           149|
+--------------+--------------+

In [119]:
spark.sql("SELECT * FROM server_name").show()

+---------+-----------+
|server_id|server_name|
+---------+-----------+
|      100| 100 Server|
|      101| 101 Server|
|      102| 102 Server|
|      103| 103 Server|
|      104| 104 Server|
|      105| 105 Server|
|      106| 106 Server|
|      107| 107 Server|
|      108| 108 Server|
|      109| 109 Server|
|      110| 110 Server|
|      111| 111 Server|
|      112| 112 Server|
|      113| 113 Server|
|      114| 114 Server|
|      115| 115 Server|
|      116| 116 Server|
|      117| 117 Server|
|      118| 118 Server|
|      119| 119 Server|
+---------+-----------+
only showing top 20 rows

In [125]:
spark.sql("SELECT * FROM utilization").show(2),spark.sql("SELECT * FROM server_name").show(2)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
+---------------+-------------------+-----------+---------+-------------+
only showing top 2 rows

+---------+-----------+
|server_id|server_name|
+---------+-----------+
|      100| 100 Server|
|      101| 101 Server|
+---------+-----------+
only showing top 2 rows

(None, None)

In [123]:
df_join = spark.sql("SELECT u.server_id, sn.server_name, u.session_count \
                     FROM utilization u \
                     INNER JOIN server_name sn \
                     ON sn.server_id = u.server_id")
df_join.show()

+---------+-----------+-------------+
|server_id|server_name|session_count|
+---------+-----------+-------------+
|      100| 100 Server|           47|
|      100| 100 Server|           43|
|      100| 100 Server|           62|
|      100| 100 Server|           50|
|      100| 100 Server|           43|
|      100| 100 Server|           48|
|      100| 100 Server|           58|
|      100| 100 Server|           58|
|      100| 100 Server|           62|
|      100| 100 Server|           45|
|      100| 100 Server|           47|
|      100| 100 Server|           60|
|      100| 100 Server|           57|
|      100| 100 Server|           44|
|      100| 100 Server|           47|
|      100| 100 Server|           66|
|      100| 100 Server|           65|
|      100| 100 Server|           66|
|      100| 100 Server|           42|
|      100| 100 Server|           63|
+---------+-----------+-------------+
only showing top 20 rows

**De-Duplicating**

In [126]:
from pyspark.sql import Row

In [129]:
csv_df_path = data_path + "/copy.csv"
df_dup = spark.read.csv(csv_df_path,header=True)
df_dup.show()

+---------------+-----------+-------------+
|cpu_utilization|server_name|session_count|
+---------------+-----------+-------------+
|             85| 101 server|           80|
|             80| 101 server|           90|
|             85| 102 server|           80|
|             85| 102 server|           80|
+---------------+-----------+-------------+

In [130]:
df_dup.drop_duplicates().show()

+---------------+-----------+-------------+
|cpu_utilization|server_name|session_count|
+---------------+-----------+-------------+
|             85| 101 server|           80|
|             80| 101 server|           90|
|             85| 102 server|           80|
+---------------+-----------+-------------+

In [131]:
df_dup.drop_duplicates(['server_name']).show()

+---------------+-----------+-------------+
|cpu_utilization|server_name|session_count|
+---------------+-----------+-------------+
|             85| 101 server|           80|
|             85| 102 server|           80|
+---------------+-----------+-------------+

**Working with NAs**

In [134]:
from pyspark.sql.functions import lit
from pyspark.sql.types import StringType

In [132]:
csv_df_path = data_path + "/copy.csv"
df_dup = spark.read.csv(csv_df_path,header=True)
df_dup.show()

+---------------+-----------+-------------+
|cpu_utilization|server_name|session_count|
+---------------+-----------+-------------+
|             85| 101 server|           80|
|             80| 101 server|           90|
|             85| 102 server|           80|
|             85| 102 server|           80|
|             70| 103 server|           80|
|             60| 104 server|           75|
+---------------+-----------+-------------+

In [136]:
df_na = df_dup.withColumn('na_col', lit(None).cast(StringType()))
df_na.show()

+---------------+-----------+-------------+------+
|cpu_utilization|server_name|session_count|na_col|
+---------------+-----------+-------------+------+
|             85| 101 server|           80|  null|
|             80| 101 server|           90|  null|
|             85| 102 server|           80|  null|
|             85| 102 server|           80|  null|
|             70| 103 server|           80|  null|
|             60| 104 server|           75|  null|
+---------------+-----------+-------------+------+

In [137]:
df_na.fillna('A').show()

+---------------+-----------+-------------+------+
|cpu_utilization|server_name|session_count|na_col|
+---------------+-----------+-------------+------+
|             85| 101 server|           80|     A|
|             80| 101 server|           90|     A|
|             85| 102 server|           80|     A|
|             85| 102 server|           80|     A|
|             70| 103 server|           80|     A|
|             60| 104 server|           75|     A|
+---------------+-----------+-------------+------+

In [139]:
df2 = df_na.fillna('A').union(df_na)
df2.show()

+---------------+-----------+-------------+------+
|cpu_utilization|server_name|session_count|na_col|
+---------------+-----------+-------------+------+
|             85| 101 server|           80|     A|
|             80| 101 server|           90|     A|
|             85| 102 server|           80|     A|
|             85| 102 server|           80|     A|
|             70| 103 server|           80|     A|
|             60| 104 server|           75|     A|
|             85| 101 server|           80|  null|
|             80| 101 server|           90|  null|
|             85| 102 server|           80|  null|
|             85| 102 server|           80|  null|
|             70| 103 server|           80|  null|
|             60| 104 server|           75|  null|
+---------------+-----------+-------------+------+

In [140]:
df2.na.drop().show()

+---------------+-----------+-------------+------+
|cpu_utilization|server_name|session_count|na_col|
+---------------+-----------+-------------+------+
|             85| 101 server|           80|     A|
|             80| 101 server|           90|     A|
|             85| 102 server|           80|     A|
|             85| 102 server|           80|     A|
|             70| 103 server|           80|     A|
|             60| 104 server|           75|     A|
+---------------+-----------+-------------+------+

In [141]:
df2.createOrReplaceTempView("na_table")

In [142]:
spark.sql("SELECT * FROM na_table").show()

+---------------+-----------+-------------+------+
|cpu_utilization|server_name|session_count|na_col|
+---------------+-----------+-------------+------+
|             85| 101 server|           80|     A|
|             80| 101 server|           90|     A|
|             85| 102 server|           80|     A|
|             85| 102 server|           80|     A|
|             70| 103 server|           80|     A|
|             60| 104 server|           75|     A|
|             85| 101 server|           80|  null|
|             80| 101 server|           90|  null|
|             85| 102 server|           80|  null|
|             85| 102 server|           80|  null|
|             70| 103 server|           80|  null|
|             60| 104 server|           75|  null|
+---------------+-----------+-------------+------+

In [143]:
spark.sql("SELECT * FROM na_table WHERE na_col IS NULL").show()

+---------------+-----------+-------------+------+
|cpu_utilization|server_name|session_count|na_col|
+---------------+-----------+-------------+------+
|             85| 101 server|           80|  null|
|             80| 101 server|           90|  null|
|             85| 102 server|           80|  null|
|             85| 102 server|           80|  null|
|             70| 103 server|           80|  null|
|             60| 104 server|           75|  null|
+---------------+-----------+-------------+------+

In [144]:
spark.sql("SELECT * FROM na_table WHERE na_col IS NOT NULL").show()

+---------------+-----------+-------------+------+
|cpu_utilization|server_name|session_count|na_col|
+---------------+-----------+-------------+------+
|             85| 101 server|           80|     A|
|             80| 101 server|           90|     A|
|             85| 102 server|           80|     A|
|             85| 102 server|           80|     A|
|             70| 103 server|           80|     A|
|             60| 104 server|           75|     A|
+---------------+-----------+-------------+------+

**Exploratory Analysis**

In [148]:
json_df2_path = data_path + "/utilization.json"
df_util = spark.read.format("json").load(json_df2_path)
print(df_util.count())
df_util.show(5)

500000
+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
+---------------+-------------------+-----------+---------+-------------+
only showing top 5 rows

In [147]:
df_util.createOrReplaceTempView("utilization")

In [149]:
df_util.describe().show()

+-------+-------------------+-------------------+------------------+------------------+------------------+
|summary|    cpu_utilization|     event_datetime|       free_memory|         server_id|     session_count|
+-------+-------------------+-------------------+------------------+------------------+------------------+
|  count|             500000|             500000|            500000|            500000|            500000|
|   mean| 0.6205177400000123|               null|0.3791280999999977|             124.5|          69.59616|
| stddev|0.15875173872912837|               null|0.1583093127837622|14.430884120553253|14.850676696352865|
|    min|               0.22|03/05/2019 08:06:14|               0.0|               100|                32|
|    max|                1.0|04/09/2019 01:22:46|              0.78|               149|               105|
+-------+-------------------+-------------------+------------------+------------------+------------------+

In [150]:
df_util.describe('cpu_utilization','free_memory').show()

+-------+-------------------+------------------+
|summary|    cpu_utilization|       free_memory|
+-------+-------------------+------------------+
|  count|             500000|            500000|
|   mean| 0.6205177400000123|0.3791280999999977|
| stddev|0.15875173872912837|0.1583093127837622|
|    min|               0.22|               0.0|
|    max|                1.0|              0.78|
+-------+-------------------+------------------+

In [154]:
# Calculates the correlation of two columns
df_util.stat.corr('cpu_utilization','free_memory')

-0.47047715730807443

In [152]:
df_util.stat.corr('session_count','free_memory')

-0.5008320848876572

In [155]:
# Finding frequent items for columns, possibly with false positives.
df_util.stat.freqItems(('server_id','session_count')).show()

+--------------------+-----------------------+
| server_id_freqItems|session_count_freqItems|
+--------------------+-----------------------+
|[137, 146, 101, 1...|   [92, 101, 83, 95,...|
+--------------------+-----------------------+

In [156]:
df_util_sample = df_util.sample(fraction=0.05, withReplacement=False)
df_util_sample.count()

25217

**Exploratory data analysis with Spark SQL**

In [157]:
spark.sql('SELECT min(cpu_utilization), max(cpu_utilization), stddev(cpu_utilization) FROM utilization').show()

+--------------------+--------------------+----------------------------+
|min(cpu_utilization)|max(cpu_utilization)|stddev_samp(cpu_utilization)|
+--------------------+--------------------+----------------------------+
|                0.22|                 1.0|         0.15875173872912837|
+--------------------+--------------------+----------------------------+

In [158]:
spark.sql('SELECT server_id, min(cpu_utilization), max(cpu_utilization), stddev(cpu_utilization) \
           FROM utilization \
           GROUP BY server_id').show()

+---------+--------------------+--------------------+----------------------------+
|server_id|min(cpu_utilization)|max(cpu_utilization)|stddev_samp(cpu_utilization)|
+---------+--------------------+--------------------+----------------------------+
|      112|                0.52|                0.92|         0.11528867845082576|
|      113|                0.58|                0.98|         0.11544345150353694|
|      130|                0.35|                0.75|         0.11568834774245991|
|      126|                0.48|                0.88|         0.11542612970702051|
|      149|                0.54|                0.94|         0.11543517500295467|
|      110|                0.35|                0.75|         0.11533251724450215|
|      136|                0.41|                 0.8|         0.11597405743182258|
|      144|                0.47|                0.87|         0.11478654960489501|
|      119|                0.22|                0.62|         0.11516031929842005|
|      116|                 0.3|                 0.7|         0.11506079722349302|
|      145|                0.58|                0.98|         0.11476448868786174|
|      124|                0.24|                0.64|         0.11579377614906383|
|      143|                0.26|                0.66|         0.11616596078044727|
|      107|                0.45|                0.85|         0.11597417369783877|
|      146|                 0.5|                 0.9|         0.11488129439634706|
|      103|                0.56|                0.96|         0.11617507884178278|
|      139|                0.51|                0.91|         0.11519660023052102|
|      138|                0.24|                0.64|          0.1155955860444133|
|      114|                0.33|                0.73|         0.11510268816097273|
|      115|                0.44|                0.84|         0.11569664615014985|
+---------+--------------------+--------------------+----------------------------+
only showing top 20 rows

In [159]:
spark.sql('SELECT server_id, FLOOR(cpu_utilization*100/10) bucket FROM utilization').show()

+---------+------+
|server_id|bucket|
+---------+------+
|      100|     5|
|      100|     4|
|      100|     5|
|      100|     5|
|      100|     3|
|      100|     4|
|      100|     5|
|      100|     4|
|      100|     5|
|      100|     5|
|      100|     3|
|      100|     6|
|      100|     6|
|      100|     5|
|      100|     2|
|      100|     4|
|      100|     4|
|      100|     6|
|      100|     4|
|      100|     5|
+---------+------+
only showing top 20 rows

In [160]:
spark.sql('SELECT count(*), FLOOR(cpu_utilization*100/10) bucket FROM utilization GROUP BY bucket ORDER BY bucket').show()

+--------+------+
|count(1)|bucket|
+--------+------+
|    8186|     2|
|   37029|     3|
|   68046|     4|
|  104910|     5|
|  116725|     6|
|   88242|     7|
|   56598|     8|
|   20207|     9|
|      57|    10|
+--------+------+

**Timeseries Analysis**

In [161]:
json_df2_path = data_path + "/utilization.json"
df_util = spark.read.format("json").load(json_df2_path)
df_util.show(3)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
+---------------+-------------------+-----------+---------+-------------+
only showing top 3 rows

In [162]:
df_util.createOrReplaceTempView("utilization")

In [164]:
spark.sql('SELECT server_id, min(cpu_utilization), max(cpu_utilization), stddev(cpu_utilization) \
           FROM utilization \
           GROUP BY server_id').show(10)

+---------+--------------------+--------------------+----------------------------+
|server_id|min(cpu_utilization)|max(cpu_utilization)|stddev_samp(cpu_utilization)|
+---------+--------------------+--------------------+----------------------------+
|      112|                0.52|                0.92|         0.11528867845082576|
|      113|                0.58|                0.98|         0.11544345150353694|
|      130|                0.35|                0.75|         0.11568834774245991|
|      126|                0.48|                0.88|         0.11542612970702051|
|      149|                0.54|                0.94|         0.11543517500295467|
|      110|                0.35|                0.75|         0.11533251724450215|
|      136|                0.41|                 0.8|         0.11597405743182258|
|      144|                0.47|                0.87|         0.11478654960489501|
|      119|                0.22|                0.62|         0.11516031929842005|
|      116|                 0.3|                 0.7|         0.11506079722349302|
+---------+--------------------+--------------------+----------------------------+
only showing top 10 rows

In [165]:
# Windowing Operation
sql_window = "SELECT event_datetime, server_id, cpu_utilization,  \
         avg(cpu_utilization) OVER (PARTITION BY server_id) avg_server_util \
FROM  \
      utilization"

In [174]:
spark.sql(sql_window).show()

+-------------------+---------+---------------+------------------+
|     event_datetime|server_id|cpu_utilization|   avg_server_util|
+-------------------+---------+---------------+------------------+
|03/05/2019 08:06:34|      112|           0.71|0.7153870000000067|
|03/05/2019 08:11:34|      112|           0.78|0.7153870000000067|
|03/05/2019 08:16:34|      112|           0.87|0.7153870000000067|
|03/05/2019 08:21:34|      112|           0.82|0.7153870000000067|
|03/05/2019 08:26:34|      112|           0.62|0.7153870000000067|
|03/05/2019 08:31:34|      112|            0.9|0.7153870000000067|
|03/05/2019 08:36:34|      112|           0.89|0.7153870000000067|
|03/05/2019 08:41:34|      112|           0.81|0.7153870000000067|
|03/05/2019 08:46:34|      112|           0.88|0.7153870000000067|
|03/05/2019 08:51:34|      112|           0.89|0.7153870000000067|
|03/05/2019 08:56:34|      112|           0.84|0.7153870000000067|
|03/05/2019 09:01:34|      112|           0.71|0.7153870000000067|
|03/05/2019 09:06:34|      112|           0.85|0.7153870000000067|
|03/05/2019 09:11:34|      112|           0.72|0.7153870000000067|
|03/05/2019 09:16:34|      112|           0.54|0.7153870000000067|
|03/05/2019 09:21:34|      112|           0.58|0.7153870000000067|
|03/05/2019 09:26:34|      112|           0.73|0.7153870000000067|
|03/05/2019 09:31:34|      112|           0.86|0.7153870000000067|
|03/05/2019 09:36:34|      112|           0.63|0.7153870000000067|
|03/05/2019 09:41:34|      112|           0.75|0.7153870000000067|
+-------------------+---------+---------------+------------------+
only showing top 20 rows

In [168]:
sql_window2 = "SELECT event_datetime, server_id, cpu_utilization,  \
         avg(cpu_utilization) OVER (PARTITION BY server_id) avg_server_util, \
         cpu_utilization - avg(cpu_utilization) OVER (PARTITION BY server_id) delta_server_util \
         FROM utilization"

In [170]:
spark.sql(sql_window2).show(10)

+-------------------+---------+---------------+------------------+--------------------+
|     event_datetime|server_id|cpu_utilization|   avg_server_util|   delta_server_util|
+-------------------+---------+---------------+------------------+--------------------+
|03/05/2019 08:06:34|      112|           0.71|0.7153870000000067|-0.00538700000000...|
|03/05/2019 08:11:34|      112|           0.78|0.7153870000000067| 0.06461299999999337|
|03/05/2019 08:16:34|      112|           0.87|0.7153870000000067| 0.15461299999999334|
|03/05/2019 08:21:34|      112|           0.82|0.7153870000000067|  0.1046129999999933|
|03/05/2019 08:26:34|      112|           0.62|0.7153870000000067|-0.09538700000000666|
|03/05/2019 08:31:34|      112|            0.9|0.7153870000000067| 0.18461299999999337|
|03/05/2019 08:36:34|      112|           0.89|0.7153870000000067| 0.17461299999999336|
|03/05/2019 08:41:34|      112|           0.81|0.7153870000000067|  0.0946129999999934|
|03/05/2019 08:46:34|      112|           0.88|0.7153870000000067| 0.16461299999999335|
|03/05/2019 08:51:34|      112|           0.89|0.7153870000000067| 0.17461299999999336|
+-------------------+---------+---------------+------------------+--------------------+
only showing top 10 rows

In [171]:
sql_window3 = "SELECT event_datetime, server_id, cpu_utilization,  \
                      avg(cpu_utilization) OVER (PARTITION BY server_id ORDER BY event_datetime \
                                    ROWS BETWEEN 1 PRECEDING AND 1 FOLLOWING) avg_server_util \
                FROM  \
                      utilization"

In [173]:
spark.sql(sql_window3).show(10)

+-------------------+---------+---------------+------------------+
|     event_datetime|server_id|cpu_utilization|   avg_server_util|
+-------------------+---------+---------------+------------------+
|03/05/2019 08:06:34|      112|           0.71|             0.745|
|03/05/2019 08:11:34|      112|           0.78|0.7866666666666666|
|03/05/2019 08:16:34|      112|           0.87|0.8233333333333333|
|03/05/2019 08:21:34|      112|           0.82|              0.77|
|03/05/2019 08:26:34|      112|           0.62|0.7799999999999999|
|03/05/2019 08:31:34|      112|            0.9|0.8033333333333333|
|03/05/2019 08:36:34|      112|           0.89|0.8666666666666667|
|03/05/2019 08:41:34|      112|           0.81|              0.86|
|03/05/2019 08:46:34|      112|           0.88|              0.86|
|03/05/2019 08:51:34|      112|           0.89|              0.87|
+-------------------+---------+---------------+------------------+
only showing top 10 rows

**Machine Learning - Clustering**

In [175]:
from pyspark.sql import SparkSession
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.clustering import KMeans

In [177]:
json_df2_path = data_path + "/utilization.json"
df_util = spark.read.format("json").load(json_df2_path)
df_util.show(5)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
+---------------+-------------------+-----------+---------+-------------+
only showing top 5 rows

In [192]:
#A feature transformer that merges multiple columns into a vector column.
# Group based on cpu_utilization", "free_memory", "session_count

vectorAssembler = VectorAssembler(inputCols=["cpu_utilization", "free_memory", "session_count"], outputCol="features")
vectorAssembler

VectorAssembler_3b9bc23c56f5

In [183]:
vcluster_df = vectorAssembler.transform(df_util)
vcluster_df

DataFrame[cpu_utilization: double, event_datetime: string, free_memory: double, server_id: bigint, session_count: bigint, features: vector]

In [194]:
print(type(vcluster_df))
vcluster_df.show(5)
# Features is the new column output by Vector Assembler

<class 'pyspark.sql.dataframe.DataFrame'>
+---------------+-------------------+-----------+---------+-------------+----------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|        features|
+---------------+-------------------+-----------+---------+-------------+----------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|[0.57,0.51,47.0]|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|[0.47,0.62,43.0]|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|[0.56,0.57,62.0]|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|[0.57,0.56,50.0]|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|[0.35,0.46,43.0]|
+---------------+-------------------+-----------+---------+-------------+----------------+
only showing top 5 rows

In [196]:
kmeans = KMeans().setK(3)
kmeans = kmeans.setSeed(1)

In [197]:
kmodel = kmeans.fit(vcluster_df)
kmodel.clusterCenters()

[array([ 0.71174897,  0.28808911, 86.87510507]),
 array([ 0.61918113,  0.38080285, 68.75004716]),
 array([ 0.51439668,  0.48445202, 50.49452021])]

**Machine Learning - Linear Regression**

In [198]:
from pyspark.ml.regression import LinearRegression
from pyspark.ml.feature import VectorAssembler

In [199]:
json_df2_path = data_path + "/utilization.json"
df_util = spark.read.format("json").load(json_df2_path)
df_util.show(5)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
+---------------+-------------------+-----------+---------+-------------+
only showing top 5 rows

In [200]:
vectorAssembler = VectorAssembler(inputCols=["cpu_utilization"], outputCol="features")
df_vutil = vectorAssembler.transform(df_util)
df_vutil.show(5)

+---------------+-------------------+-----------+---------+-------------+--------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|features|
+---------------+-------------------+-----------+---------+-------------+--------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|  [0.57]|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|  [0.47]|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|  [0.56]|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|  [0.57]|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|  [0.35]|
+---------------+-------------------+-----------+---------+-------------+--------+
only showing top 5 rows

In [203]:
lr = LinearRegression(featuresCol="features",labelCol="session_count")
print(type(lr))
lr

<class 'pyspark.ml.regression.LinearRegression'>

LinearRegression_7f5b91cbc38c

In [204]:
lrModel = lr.fit(df_vutil)
lrModel.coefficients

DenseVector([47.024])

In [205]:
lrModel.intercept

40.41695103556927

In [206]:
lrModel.summary.rootMeanSquaredError

12.837990225931833